boost/
lib/
ipch/
*.cache

DiceGameServer/Debug/
DiceGameServer/Release/

protocal/Debug/
protocal/Release/

database/Debug/
database/Release/
database/ipch/

tinyxml/Debug/
tinyxml/Release/

base/Debug
base/Release/

*.user
Release/
