boost/
lib/
ipch/
Debug/
Release/

DiceGameServer/Debug/
DiceGameServer/Release/

protocal/Debug/
protocal/Release/
protocal/target/

database/Debug/
database/Release/
database/ipch/

tinyxml/Debug/
tinyxml/Release/

base/Debug
base/Release/

*.user
*.cache
*.opensdf
*.sdf
*.suo
DiceGameServer/1*.txt
DiceGameServer.VC.VC.opendb
DiceGameServer.VC.db
